/* .Nav-end{
    position: relative;
    left: 110vh;
} */

.MySidebar #IconeSidebar {
    display: none;
}

.list-inline-item{
    list-style: none !important;
    text-decoration: none !important;
    color: #6c757d !important;
}

@media (max-width: 767px) {
    /* .Nav-end{
        position: relative;
        left: 11vh;
    } */

    .MySidebar #IconeSidebar {
        display: block;
        color: #fff !important;
        left: 20vh;
        margin-top: 15px !important;
        font-size: 15px !important;
    } 

    #nav-dropdown-dark-example{
        margin-left: 30px;
    }

    #IconeNavbar{
        margin-left: 40px;
        margin-top: 10px;
    }

    .menu-controller-icon {
      margin-left: 0 !important;
      margin-right: 0 !important;
      font-size: x-large;
    }

    /* .menu-controller-icon{
        display: none;
    } */

    .imgblock img{
        display: block !important;
    }

    /* .titleSidebar{
        display: none !important;
    } */

    /* .MenuDashboard .MySidebard{
        display
    } */


    .cardWrap{
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        /* text-align: center; */
        margin-left: 10px;
        width: 100%;
    }

    /* .TimeDate{
        display: flex;
    } */

    /* .DropdownProfile .profile-image{
        width: 30px !important;
        height: 30px !important;
        border-radius: 100%;
    } */

    /* .PanerSidebar{
        line-height: 100vh !important;
        margin-bottom: 4vh !important;
    } */

    .textFooter{
        display: flex;
        justify-content: center;
    }
  }
